<?xml version="1.0" encoding="UTF-8"?>
<web-app
version="3.0"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
<!-- Servlet定义 -->
<!--
<servlet>
	<servlet-name>ListLeaguesServlet</servlet-name>
	<servlet-class>com.rainbow_weaver.league.view.ListLeaguesServlet</servlet-class>
</servlet>
-->
<!-- Servlet映射 -->
<!--
<servlet-mapping>
	<servlet-name>ListLeaguesServlet</servlet-name>
	<url-pattern>/ListLeagues.view</url-pattern>
</servlet-mapping>
-->

<!--
	<filter>
		<filter-name>PerformenceFilter</filter-name>
		<filter-class>com.rainbow_weaver.league.web.PerformenceFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>PerformenceFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
 -->
 
     <context-param>
        <description>added for SSH integration</description>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/ApplicationContext.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
 
 	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.rainbow_weaver.league.web.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
 
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
